<form id="search-form" method="post" action="{{ path('laureat_etablissement',{'id': laureat.id}) }}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Rechercher un etablissement"  name="name">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" id="button-addon2" >
        <i data-feather="search" width="18" height="18" class="pr-1"></i>
      </button>
    </div>
  </div>
</form> 

<div id="search-results" class="example-wrapper">
  {% include('laureat/layout/_etablissment_search_content.html.twig') %}
</div> 