{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% set vars = {'profileDip':'true'} %}
<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <!-- Include Profile Information -->
      <div class="col-lg-4">
        {{ include('laureat/layout/_profile_information.html.twig') }}
      </div><!-- ./End Col -->

      <div class="col-lg-8">
        <div class="fx-card fx-card-tabs"> 
          <!-- Include Profile Navigation-->
          <div class="fx-card-head">
            {% include('laureat/layout/_profile_navigation.html.twig') with vars %}
          </div> 
          <!-- card Body -->
          <div class="fx-card-body"> 
            <h5 class="card-title mb-5">Information</h5> 
            
            {% if verif == 0 %}
              <div class="card-body">
                <p>Aucun diplome trouvé.</p>
              </div>
            {% endif %}
            <div class="row">
            {% for diplomes in diplomesAuth %}
              <!-- Card -->
              <div class="col-sm-6 col-md-6">
                {% if diplomes.date_obtention is null %}
                  <div class="card-body">
                    <a>
                      <img src="{{ asset('images/pdff.png') }}" style="width: 6%;height: 6%">
                    </a>
                    <b style="color: grey">Diplome En cours</b>
                  </div>
                {% else %}
                  <div class="fx-card border rounded mb-5">
                    <div class="fx-card-body">
                      <div class="text-center mb-4">
                        <a href="{{ asset('uploads/DiplomesAuthentifies/'~diplomes.fichier ) }}" target="_blanck">
                          <div class="fx-avatar fx-avatar-circle fx-avatar-bordered shadow-lg d-inline-block fx-avatar-lg text-center fx-bg-success">
                            <i data-feather="download" class="text-light align-items-center h-100"></i>
                          </div>
                        </a>
                        <h3 class="h6 fx-text-bold fx-text-dark mt-5 mb-3">
                          <i data-feather="check" class="text-success" width="18" height="18"></i>
                          <span class="pl-2"> Diplome Authentifié </span>
                        </h3>
                        <p class="mb-2">
                          <a href="#" class="fx-font-size-1 text-secondary">
                            <i data-feather="calendar" class="align-middle" width="18" height="18"></i>
                            <span class="align-middle pr-4">{{ diplomes.date_obtention }}</span>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            </div><!-- ./End Row -->
          </div>
        </div>
      </div><!-- ./End Col -->
    </div>
  </div>
</div>
{% endblock %}
