{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <!-- Include Profile Information -->
      <div class="col-lg-4">
        {{ include('laureat/_profile_information.html.twig') }}
      </div><!-- ./End Col -->

      <div class="col-lg-8">
        <div class="fx-card fx-card-tabs"> 
          <!-- Include Profile Navigation-->
          <div class="fx-card-head">
            {{ include('laureat/_profile_navigation.html.twig') }}
          </div> 
          <!-- card Body -->
          <div class="fx-card-body"> 
            <h5 class="card-title">Information</h5> 
            <div class="card-body">
              <p class="card-text">Aucun diplome trouvé.</p>
            </div>
          </div>
        </div>
      </div><!-- ./End Col -->
    </div>
  </div>
</div>
{% endblock %}
