<div class="fx-card-head-container">
  <h3 class="fx-card-head-title">
    Compte Information
  </h3>
</div>
<div class="fx-card-head-toolbar">
  <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-right nav-tabs-line-2x">
    <li class="nav-item">
      <a class="nav-link active" href="{{ path('secretaire_edit', {'id': secretaire.id}) }}">
        À propos
      </a>
    </li>
  </ul>
</div>