{% extends 'base.html.twig' %}

{% block title %}New Specialite{% endblock %}

{% block body %}
<div class="fx-section-space-8 bg-light">
  <div class="container">
    <div class="fx-card fx-card-tabs">
      <div class="fx-card-head align-items-center">
        <div class="fx-card-head-container">
          <h3 class="fx-card-head-title text-capitalize">
            Ajouter un Specialite
          </h3>
        </div>
        <div class="fx-card-head-toolbar">
          <div>
            <a href="{{ path('specialite_index') }}" class="btn btn-dark mb-0">
              <i data-feather="arrow-left" class="pr-1"></i>
              <span class="pl-1 align-middle">Back to LIst</span>
            </a>
          </div>
        </div>
      </div>
      <div class="fx-card-body">
        {{ include('specialite/_form.html.twig') }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
