
{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% set vars = {'profileDesactivate':'true'} %}
<div class="fx-section-space-8 bg-light">
  <div class="container">
    <div class="row">
      <!-- Include Profile Information -->
      <div class="col-lg-4">
          {{ include('etablissement/layout/_profile_information.html.twig') }}
      </div><!-- ./End Col -->

      <div class="col-lg-8">
        <div class="fx-card fx-card-tabs"> 
          <!-- Include Profile Navigation-->
          <div class="fx-card-head">
            {% include('etablissement/layout/_profile_navigation.html.twig') with vars %}
          </div> 
          <!-- card Body -->
          <div class="fx-card-body"> 
            <div >
              <h2>Désactivation du compte</h2>
              <form class="text-center" method="post" action="{{ path('etablissement_desactiver', {'id': etablissement.id}) }}">
                <div class="my-5">
                  <input class="form-control" type="checkbox" value="1" name="desac" required />
                </div>
                <a href="" onclick="return confirm('Voulez vous vraiment désactiver votre compte !')">
                  <button type="submit" class="btn btn-danger">Desactiver</button>
                </a>
              </form>
            </div>
          </div>
        </div>
      </div><!-- ./End Col -->
    </div>
  </div>
</div>
{% endblock %}
